<template>
  <div style="margin-top: 20px">
    <div><h1 class="b">Bibliography</h1></div>
    <br />
    <h3 class="ty">Thank You!</h3>
    <div class="back">
      <br
        style="display: block;
    margin-bottom: 12px;
    font-size:12px;
    line-height: 12px;"
      />
      <a class="links" href="https://en.wikipedia.org/wiki/Apple">
        https://en.wikipedia.org/wiki/Apple
      </a>
      <br />
      <a
        class="links"
        href="https://en.wikipedia.org/wiki/List_of_countries_by_apple_production"
      >
        https://en.wikipedia.org/wiki/List_of_countries_by_apple_production</a
      >
      <br />
      <a
        class="links"
        href="https://www.mentalfloss.com/article/556777/simple-trick-keeping-your-apples-fresh-longer"
      >
        https://www.mentalfloss.com/article/556777/simple-trick-keeping-your-apples-fresh-longer</a
      >
      <br />
      <a
        class="links"
        href="https://ro.pinterest.com/pin/730568370778485893/?nic_v2=1a3tQzUec"
        >https://ro.pinterest.com/pin/730568370778485893/?nic_v2=1a3tQzUec</a
      >
      <br />
      <a class="links" href="https://en.wikipedia.org/wiki/Cider"
        >https://en.wikipedia.org/wiki/Cider</a
      >
      <br />
      <a
        class="links"
        href="https://www.delish.com/cooking/recipe-ideas/a28224491/homemade-apple-cider-drink-recipe"
        >https://www.delish.com/cooking/recipe-ideas/a28224491/homemade-apple-cider-drink-recipe/</a
      >
      <br />
      <a
        class="links"
        href="https://www.onceuponachef.com/recipes/french-apple-cake.html"
        >https://www.onceuponachef.com/recipes/french-apple-cake.html</a
      >
      <br />
      <br />
    </div>
  </div>

  <!-- Footer -->
  <footer style="bottom: 0rem" id="back" class="d-flex justify-content-between">
    <div class="d-flex flex-row">
      <div>
        <a
          href="https://www.linkedin.com/in/alexandru-știube-2157331b1/"
          target="_blank"
        >
          <img class="imageLink" src="../assets/linkedin.png" />
        </a>
      </div>
      <div>
        <a href="#/contact">
          <img class="imageLink" src="../assets/email.png" />
        </a>
      </div>
    </div>

    <div>
      <p class="copyText">&copy;Copyright Știube Alexandru</p>
    </div>

    <div class="d-flex flex-row-reverse">
      <a class="biblio" href="#/bibliography">Bibliography</a>
    </div>
  </footer>
</template>

<style>
.back {
  background-color: rgba(211, 211, 211, 0.3);
}

@media (max-width: 699px) {
  .b {
    font-size: 140%;
  }
  .ty {
    font-size: 100%;
  }
  .links {
    font-size: 70%;
  }
}
</style>
