<template>
  <div>
    <div><img src="../assets/cider620px.png" class="img-fluid" /></div>
    <div>
      <div><h1 id="title">Cider</h1></div>
      <p class="quote">
        "Select apples, press them, ferment slowly in barrels over the winter
        and by early summer you will have dry, still, refreshing real cider!"
      </p>
    </div>
    <div class="jumbotron">
      <p>
        Cider is an alcoholic beverage made from the fermented juice of apples.
        Cider is popular in the United Kingdom and the Republic of Ireland and
        widely available. The UK has the world's highest per capita consumption,
        as well as its largest cider-producing companies. Ciders from the South
        West of England are generally stronger. Cider is also popular in many
        Commonwealth countries, such as India, Canada, Australia, and New
        Zealand. As well as the UK and its former colonies, cider is popular in
        Portugal, France, northern Italy, and northern Spain. Central Europe
        also has its own types of cider with Rhineland-Palatinate and Hesse
        producing a particularly tart version known as Apfelwein. In the U.S.,
        varieties of fermented cider are often called hard cider to distinguish
        alcoholic cider from non-alcoholic apple cider or "sweet cider", also
        made from apples. In Canada, cider cannot be called cider if there are
        no apples. Furthermore, according to the Food and Drug Regulations in
        Canada, cider cannot contain less than 2.5% or over 13% absolute alcohol
        by volume.
      </p>
    </div>
    <h3 id="title">How to make cider</h3>
    <hr class="hrLine" />
    <h4>Preparation</h4>
    <p class="jumbotron">
      Apples arrive from the orchards in October, they are washed (surface
      sterilsed) and sorted to remove rotten apples. All leaves, twigs and other
      orchard debris is removed to leave just the fruit that meets the standard.
    </p>
    <h4>Pulping</h4>
    <p class="jumbotron">
      Apples are then mashed, either mechanically using a scratter, or by hand –
      to create a pulp which is put into the cider press.
    </p>
    <h4>Pressing</h4>
    <p class="jumbotron">
      The cider press extracts the juice from the apples, which then goes
      directly into plastic fermentation barrels.
    </p>
    <h4>Fermentation:</h4>
    <p class="jumbotron">
      No yeast is added as it occurs naturally on the skin and in the flesh of
      the apple. The fermentation is a slow process due to the low temperatures
      over winter. However, early summer you can check whether the cider is
      ready by the following methods: clarity, taste and specific gravity (%
      ABV).
    </p>
    <h4>Assessing</h4>
    <p class="jumbotron">
      All Cider Makers rely on their own ability to taste the fermenting ciders
      to measure the fermentation process.
    </p>
    <h4>Blending</h4>
    <p class="jumbotron">
      On a large scale, once fermented, the cider is transferred to a maturation
      vessel, usually a very large oak barrel where matured ciders from previous
      seasons are combined and blended as the cider maker completes the finished
      product. Of course, you don’t need to be a farm producer to enjoy making
      real cider.
    </p>
  </div>
  <!-- Footer -->
  <footer id="back" class="d-flex justify-content-between">
    <div class="d-flex flex-row">
      <div>
        <a
          href="https://www.linkedin.com/in/alexandru-știube-2157331b1/"
          target="_blank"
        >
          <img class="imageLink" src="../assets/linkedin.png" />
        </a>
      </div>
      <div>
        <a href="#/contact">
          <img class="imageLink" src="../assets/email.png" />
        </a>
      </div>
    </div>

    <div>
      <p class="copyText">&copy;Copyright Știube Alexandru</p>
    </div>

    <div class="d-flex flex-row-reverse">
      <a class="biblio" href="#/bibliography">Bibliography</a>
    </div>
  </footer>
</template>

<style>
h4 {
  margin: 1rem 0rem 1rem 0rem;
}
</style>
