<template>
  <div style="margin-top: 20px">
    <form
      action="mailto:alex_stiube@outlook.com"
      method="post"
      enctype="text/plain"
    >
      <div><h1 class="smae">Send me an E-mail</h1></div>
      <p class="myParagraph">Name:</p>
      <input class="textBox" type="text" name="name" /><br />
      <p class="myParagraph">E-mail:</p>
      <input class="textBox" type="text" name="mail" /><br />
      <p class="myParagraph">Comment:</p>
      <textarea
        class="commentBox"
        name="comment"
        cols="auto"
        rows="5"
      ></textarea>
      <br /><br />
      <input id="myButton" type="submit" value="Send" />
      <input id="myButton" type="reset" value="Reset" />
    </form>
  </div>
  <!-- Footer -->
  <footer style="bottom: 0rem" id="back" class="d-flex justify-content-between">
    <div class="d-flex flex-row">
      <div>
        <a
          href="https://www.linkedin.com/in/alexandru-știube-2157331b1/"
          target="_blank"
        >
          <img class="imageLink" src="../assets/linkedin.png" />
        </a>
      </div>
      <div>
        <a href="#/contact">
          <img class="imageLink" src="../assets/email.png" />
        </a>
      </div>
    </div>

    <div>
      <p class="copyText">&copy;Copyright Știube Alexandru</p>
    </div>

    <div class="d-flex flex-row-reverse">
      <a class="biblio" href="#/bibliography">Bibliography</a>
    </div>
  </footer>
</template>

<style>
.textBox {
  border: 1px solid #ff0000;
  width: 250px;
  text-align: center;
}
.commentBox {
  border: 1px solid #ff0000;
  text-align: initial;
  resize: none;
}
.myParagraph {
  margin-top: 15px;
  font-size: 18px;
}
#myButton {
  width: 100px;
  height: 40px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgb(255, 0, 0);
  border: 0px;
}
#myButton:hover {
  background-color: rgba(255, 0, 0, 0.6);
}
textarea {
  width: 350px;
  height: 250px;
}
@media (max-width: 699px) {
  .smae {
    font-size: 140%;
  }
  .ty {
    font-size: 100%;
  }
  .links {
    font-size: 70%;
  }
  #myButton {
    width: 20%;
    height: 10%;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(255, 0, 0);
    border: 0px;
  }
  textarea {
    width: 250px;
    height: 150px;
  }
}
</style>
