<template>
  <div>
    <img src="../assets/appleCake620px.png" class="img-fluid" />
    <div><h1 id="title">Apple Cake</h1></div>
    <hr class="hrLine" />
    <h3 id="title">Ingredients</h3>
    <p class="jumbotron">
      1 cup all-purpose flour, spooned into measuring cup and leveled-off
      <br />
      1 teaspoon baking powder <br />1/4 teaspoon salt <br />1 stick (1/2 cup)
      unsalted butter, at room temperature <br />2/3 cup granulated sugar, plus
      more for sprinkling over cake <br />2 large eggs <br />1 teaspoon vanilla
      extract <br />3 tablespoons dark rum <br />2 baking apples, peeled, cored
      and cut into 1-2 cm cubes
    </p>
    <h3 id="title">Instructions</h3>
    <p class="jumbotron">
      Preheat the oven to 175°C and set an oven rack in the middle position.
      Grease a 23 cm springform or regular cake pan with butter or nonstick
      cooking spray. If using a regular cake pan, line the bottom of the pan
      with parchment paper and grease again.
      <br />
      <br />In a small bowl, whisk together the flour, baking powder and salt.
      <br />
      <br />Using a handheld mixer with beaters or a stand mixer with the paddle
      attachment, cream the butter and granulated sugar until light and fluffy,
      about 3 minutes. Add the eggs, one at a time, beating well and scraping
      down the sides of the bowl after each addition. Beat in the vanilla and
      rum. Don't worry if the batter looks grainy at this point; that's okay.
      Add the flour mixture and mix on low speed until just combined. Using a
      rubber spatula, fold in the chopped apples. <br />
      <br />Scrape the batter into the prepared pan and even the top. Sprinkle
      evenly with 1 tablespoon of granulated sugar. Bake for about 40 minutes,
      or until the cake is golden and a toothpick inserted into the center comes
      out clean. Allow the cake to cool on a rack. Run a blunt knife around the
      edges of the cake. If using a springform pan, remove the sides. If using a
      regular cake pan, carefully invert the cake onto the rack, remove the
      parchment paper, then gently flip the cake over and place right-side-up on
      a platter. Using a fine sieve, dust with confectioners' sugar (if using).
      Cake can be served warm or room temperature, plain or with lightly
      sweetened whipped cream or vanilla ice cream. <br />
      <br />Freezer Friendly Instructions: The cake can be frozen for up to 3
      months. After it is completely cooled, cover it tightly with aluminum foil
      or freezer wrap. Thaw overnight on the countertop before serving.
    </p>
  </div>
  <!-- Footer -->
  <footer id="back" class="d-flex justify-content-between">
    <div class="d-flex flex-row">
      <div>
        <a
          href="https://www.linkedin.com/in/alexandru-știube-2157331b1/"
          target="_blank"
        >
          <img class="imageLink" src="../assets/linkedin.png" />
        </a>
      </div>
      <div>
        <a href="#/contact">
          <img class="imageLink" src="../assets/email.png" />
        </a>
      </div>
    </div>

    <div>
      <p class="copyText">&copy;Copyright Știube Alexandru</p>
    </div>

    <div class="d-flex flex-row-reverse">
      <a class="biblio" href="#/bibliography">Bibliography</a>
    </div>
  </footer>
</template>
