<template>
  <footer id="back" class="d-flex justify-content-between">
    <div class="d-flex flex-row">
      <div>
        <a
          href="https://www.linkedin.com/in/alexandru-știube-2157331b1/"
          target="_blank"
        >
          <img class="imageLink" src="../assets/linkedin.png" />
        </a>
      </div>
      <div>
        <a href="#/contact">
          <img class="imageLink" src="../assets/email.png" />
        </a>
      </div>
    </div>

    <div>
      <p class="copyText">&copy;Copyright Știube Alexandru</p>
    </div>

    <div class="d-flex flex-row-reverse">
      <a class="biblio" href="#/bibliography">Bibliography</a>
    </div>
  </footer>
</template>

<style>
#back {
  position: absolute;
  left: 0rem;
  right: 0rem;
  padding: 1%;
  margin-top: 25px;
  overflow: hidden;
  background: rgb(200, 10, 10);
  background: linear-gradient(
    128deg,
    rgba(200, 10, 10, 1) 0%,
    rgba(240, 0, 0, 1) 100%
  );
}

.biblio {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.biblio:hover {
  text-decoration: none;
  color: white;
}
.imageLink {
  padding: 0.5rem;
}
.imageLink:hover {
  opacity: 0.6;
}
.copyText {
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  text-align: center;
  color: black;
}
</style>
