<template>
  <div>
    <div id="container">
      <a class="formTop" href="/"
        ><img class="imageSpecs" src="../assets/home64px.png"
      /></a>
    </div>
  </div>
</template>

<style>
.formTop {
  position: fixed;
  top: 1%;
  left: 1%;
}
.formTop:hover {
  opacity: 0.8;
}
.imageSpecs {
  max-width: 70%;
  height: auto;
}
#container {
  z-index: 1;
  background: #fff;
}
@media (max-width: 699px) {
  .imageSpecs {
    max-width: 60%;
    height: auto;
  }
  .formTop {
    position: fixed;
    top: 0.5%;
    left: 0.5%;
  }
}
</style>
