<template>
  <div class="bottomSpace">
    <div>
      <img src="../assets/apples620px.png" class="img-fluid" />
    </div>
    <div><h1 id="title">Apples</h1></div>
    <div class="jumbotron">
      <p>
        An apple is an edible fruit produced by an apple tree (Malus domestica).
        Apple trees are cultivated worldwide and are the most widely grown
        species in the genus Malus. The tree originated in Central Asia, where
        its wild ancestor, Malus sieversii, is still found today. Apples have
        been grown for thousands of years in Asia and Europe and were brought to
        North America by European colonists. Apples have religious and
        mythological significance in many cultures, including Norse, Greek, and
        European Christian tradition.
      </p>
    </div>
    <div>
      <h2 id="title">Apples in trees</h2>
      <img src="../assets/appleTree.png" class="img-fluid" />
    </div>
    <div class="jumbotron">
      <p>
        Apple trees are large if grown from seed. Generally, apple cultivars are
        propagated by grafting onto rootstocks, which control the size of the
        resulting tree. There are more than 7500 known cultivars of apples,
        resulting in a range of desired characteristics. Different cultivars are
        bred for various tastes and use, including eating raw,
        <a onclick="window.scrollTo(0, 0);" href="#/cooking">cooking</a> and
        <a onclick="window.scrollTo(0, 0);" href="#/cider">cider</a>
        production. Trees and fruit are prone to a number of fungal, bacterial
        and pest problems, which can be controlled by a number of organic and
        non-organic means. In 2010, the fruit's genome was sequenced as part of
        research on disease control and selective breeding in apple production.
      </p>
    </div>
    <h2 id="title">Countries by apple production in 2016</h2>
    <img src="../assets/applesProductionOnGlobe.png" class="img-fluid" />
  </div>
  <!-- Footer -->
  <footer id="back" class="d-flex justify-content-between">
    <div class="d-flex flex-row">
      <div>
        <a
          href="https://www.linkedin.com/in/alexandru-știube-2157331b1/"
          target="_blank"
        >
          <img class="imageLink" src="../assets/linkedin.png" />
        </a>
      </div>
      <div>
        <a href="#/contact">
          <img class="imageLink" src="../assets/email.png" />
        </a>
      </div>
    </div>

    <div>
      <p class="copyText">&copy;Copyright Știube Alexandru</p>
    </div>

    <div class="d-flex flex-row-reverse">
      <a class="biblio" href="#/bibliography">Bibliography</a>
    </div>
  </footer>
</template>

<style>
.bottomSpace {
  bottom: 50px;
  position: relative;
}
</style>
