<template>
  <router-view />
  <HomeButton />
</template>

<script>
import HomeButton from "../src/components/HomeButton.vue";
export default {
  components: { HomeButton }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
a {
  color: red;
}
a:hover {
  color: darkred;
}
.jumbotron {
  font-size: 25px;
  text-align: justify;
  margin: 0rem;
}
.hrLine {
  border: 1px solid #e9ecef;
  margin: 2rem 10rem 2rem 10rem;
}
#title {
  margin: 25px;
}
#back {
  position: absolute;
  left: 0rem;
  right: 0rem;
  padding: 1%;
  margin-top: 25px;
  overflow: hidden;
  background: rgb(200, 10, 10);
  background: linear-gradient(
    128deg,
    rgba(200, 10, 10, 1) 0%,
    rgba(240, 0, 0, 1) 100%
  );
}

.biblio {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.biblio:hover {
  text-decoration: none;
  color: white;
}
.imageLink {
  padding: 0.5rem;
}
.imageLink:hover {
  opacity: 0.6;
}
.copyText {
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  text-align: center;
  color: black;
}
.quote {
  font-family: angelia;
  margin: 20px 0px 40px 0px;
  padding: 20px;
  font-size: 30px;
  font-style: italic;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 0px 30px 0px 30px;
}

@media (max-width: 699px) {
  .jumbotron {
    font-size: 15px;
    text-align: justify;
    margin: 0rem;
  }
  .hrLine {
    border: 1px solid #e9ecef;
    margin: 0.2rem 1rem 0.2rem 1rem;
  }
  #title {
    font-size: 130%;
    margin: 10px;
  }
  #back {
    position: absolute;
    left: 0rem;
    right: 0rem;
    padding: 1%;
    margin-top: 25px;
    overflow: hidden;
    background: rgb(200, 10, 10);
    background: linear-gradient(
      128deg,
      rgba(200, 10, 10, 1) 0%,
      rgba(240, 0, 0, 1) 100%
    );
  }

  .biblio {
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    font-size: 15px;
  }
  .biblio:hover {
    text-decoration: none;
    color: white;
  }
  .imageLink {
    padding: 0.1rem;
    height: 70%;
    vertical-align: middle;
  }
  .imageLink:hover {
    opacity: 0.6;
  }
  .copyText {
    font-size: 10px;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    text-align: center;
    color: black;
  }
  h4 {
    font-size: 130%;
  }
  .quote {
    font-family: angelia;
    margin: 20px 0px 40px 0px;
    padding: 20px;
    font-size: 15px;
    font-style: italic;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 0px 30px 0px 30px;
  }
}
</style>
